<main class="main">
    <div class="headline">
        <h2>Você encontrou a mellhor</h2>
        <h2 class="sub">Comunidade Nacional de Ciclistas</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium suscipit maiores fugiat ex amet, quos
            rem fuga consectetur ipsa voluptatem itaque provident aliquid, eveniet cumque enim. Aspernatur itaque vel
            odio!</p>
        <a href="#" class="btn">Entre</a>
    </div>
    <div class="img-headline">
        <img src="assets/cycling.png" alt="Ciclistas">
    </div>
</main>